<% if stops.any? %>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">バス停名</th>
      </tr>
    </thead>
    <tbody>
      <% stops.each do |stop| %>
        <tr>
          <th class="text-center"><%= link_to stop.name, stop_path(stop), class: "text-decoration-none" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>