<% if buses.any? %>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">バス便名</th>
      </tr>
    </thead>
    <tbody>
      <% buses.each do |bus| %>
        <tr>
          <th class="text-center"><%= link_to bus.name, bus_path(bus), class: "text-decoration-none" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>