<% if buses.any? %>
  <ul class="list-unstyled mt-2">
    <% buses.each do |bus| %>
      <li class="d-flex">
        <div>
          <div>
            <%= link_to bus.name, bus_path(bus), class: "text-decoration-none" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>